<form method="post" style="padding-left: 20px; padding-top: 5px;">
    <h3>{{headline}}</h3>
    <p><input name="name" placeholder="Name"/></p>
    <p><input name="amount" type="number" step="any" placeholder="Amount"/></p>
    <p><input name="category" placeholder="Category"/></p>
    <p><input name="exp_type" id="business" type="radio" value="business" checked/>
        <label for="business">Business</label></p>
    <p><input name="exp_type" id="consumer" type="radio" value="consumer"/>
        <label for="consumer">Consumer</label><br></p>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
