<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            .row {
                background-color: #eeeeee;
                padding: 3px;
                margin: 3px;
            }
            .rowHead {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
